@model ApplicationForm;
@inject ICommonDAO _CommonDAO;
@{
    var entity = Model.MainInformation;
    var userInfo = Html.GetUserinfo();
    var countyLst = _CommonDAO.GetCountry();
    var disabled = "";
    var cntrdisabled = false;
    if (Model.MainInformation.ApplicationFormStatus != "InProgress" || !string.IsNullOrEmpty(ViewBag.Id) || userInfo.UserType != 1)
    {
        cntrdisabled = true;
        disabled = "display:none";
    }
}

    <form class="needs-validation" novalidate onsubmit="return false;" id="mainform">
    <div class="dashboard-main-body bg-base droid-arabic-kufi container">
        <div class="row gy-4">
            <div class="col-lg-12 ">
                <div class=" text-center heder-forms ">
                    <h5 class="text-white">البيانات الرئيسية</h5>
                </div>
                <div class=" form-porder ">

                    <div class="card-body row gy-3">
                        <div class="col-md-6">
                            <label class="form-label">الاسم</label>
                            <span style="color:red;">*</span>
                            <input type="text" id="txtContactFullName" class="form-control" placeholder="الاسم بالكامل" value="@entity.ContactFullName" required>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">البريد الإلكتروني</label>
                            <span style="color:red;">*</span>
                            <input type="text" id="txtEmail" class="form-control" value="@entity.Email" readonly>
                        </div>
                        <div class="col-md-6 icon-field mb-2" style="margin-top:20px">
                            <label class="form-label">الهاتف</label>
                            <span style="color:red;">*</span>
                            <input id="phone" name="phone" type="number" value="@entity.Phone" class="form-control bg-neutral-50 radius-12" disabled style="height:45px;padding-right:50px !important;text-align:end" />
                            <div class="invalid-feedback"> يجب إدخال رقم الهاتف</div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">الجنسية  </label>
                            <span style="color:red;">*</span>
                            <select class="form-select" id="selectNationalityId" placeholder="الجنسية" required>
                                <option value="">--اختر--</option>
                                @foreach (var obj in countyLst)
                                {
                                    if (obj.Id == entity.NationalityId)
                                    {
                                        <option selected value="@obj.Id">@obj.Name.Trim()</option>
                                    }
                                    else
                                    {
                                        <option value="@obj.Id">@obj.Name.Trim()</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">تاريخ الميلاد </label>
                            <span style="color:red;">*</span>
                            <input type="date" id="txtBirthDate" placeholder="تاريخ الميلاد " class="form-control" value="@entity.BirthDate" required style="padding-left:40px !important">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">رقم الهوية - رقم جواز السفر  </label>
                            <input type="text" id="txtNationalId" class="form-control" value="@entity.NationalId">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">جهة العمل </label>
                            <span style="color:red;">*</span>
                            <input type="text" id="txtWorkOn" class="form-control" placeholder="جهة العمل" value="@entity.WorkOn" required>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">الوظيفة </label>
                            <span style="color:red;">*</span>
                            <input type="text" id="txtJobTitle" class="form-control" placeholder="الوظيفة" value="@entity.JobTitle" required>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">السيرة الذاتية </label>
                            <span style="color:red;">*</span>
                            <input class="form-control" type="file" id="AttachmentFile_Main" value="@entity.Filename" accept=".pdf" />
                            <div class="col-md-2">
                                <a class="form-label" id="AttachmentName_Main" href="@entity.Filename" class="m-10" target="_blank">@entity.FileDisplayName</a>
                            </div>
                            <p class="form-label">
                                حجم الملف المسموح به يجب أن لا يتجاوز 10 ميجا بايت ومن نوع pdf
                            </p>
                           
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">الدوله  </label>
                            <span style="color:red;">*</span>
                            <select class="form-select" id="selectCountryId" required placeholder="الدوله">
                                <option value="">--اختر--</option>
                                @foreach (var obj in countyLst)
                                {
                                    if (obj.Id == entity.CountryId)
                                    {
                                        <option selected value="@obj.Id">@obj.Name.Trim()</option>
                                    }
                                    else
                                    {
                                        <option value="@obj.Id">@obj.Name.Trim()</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    </<div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-12 py-5">
                <div class=" text-center heder-forms ">
                    <h5 class="text-white">وسائل التواصل</h5>
                </div>
                <div class=" form-porder ">
                    <div class="table-responsive scroll-sm">
                        <div class="table-center">
                            <div class="scroll-container" data-simplebar>
                                <table id="Social-table">
                                    <thead>
                                        <tr>
                                            <th width="10%" style="text-align: center; ">#</th>
                                            <th width="30%" style="text-align: center; ">وسائل التواصل</th>
                                            <th width="40%" style="text-align: center; ">الرابط</th>
                                            <th width="20%" style="text-align: center; ">
                                                <button type="button" id="addRowSocial" class=" radius-8 d-inline-flex align-items-center gap-1">
                                                    <iconify-icon icon="simple-line-icons:plus" class="text-xl"></iconify-icon>
                                                    <span class="add-text">إضافة</span>
                                                </button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.SocialLinksLst)
                                        {
                                            <tr data-id="@item.Id">
                                                <td width="10%" data-label="#">@item.Number</td>
                                                <td width="30%" data-label=" : وسائل التواصل">
                                                    @if (@item.Name == "Facebook")
                                                    {
                                                        <span class="dept color-Facebook ">@item.Name</span>
                                                    }
                                                    else if (@item.Name == "LinkedIn")
                                                    {
                                                        <span class="dept color-LinkedIn ">@item.Name</span>
                                                    }
                                                    else if (@item.Name == "Instagram")
                                                    {
                                                        <span class="dept color-Instagram ">@item.Name</span>
                                                    }
                                                    else if (@item.Name == "X")
                                                    {
                                                        <span class="dept color-Twitter ">@item.Name</span>
                                                    }
                                                    else if (@item.Name == "YouTube")
                                                    {
                                                        <span class="dept color-YouTube ">@item.Name</span>
                                                    }
                                                </td>
                                                <td width="40%" data-label=" :  الرابط ">
                                                    <a href="@item.Link" class="action-mail">@item.Link</a>
                                                </td>
                                                <td width="20%" data-label=" : اضافة">

                                                    <button type="button" style="@disabled" class="remove-row remove-item-btn bg-danger-focus bg-hover-danger-200 text-danger-600 fw-medium w-40-px h-40-px d-flex justify-content-center align-items-center rounded-circle">
                                                        <iconify-icon icon='fluent:delete-24-regular' class='menu-icon'></iconify-icon>
                                                    </button>

                                                    @* <button type="button" class="remove-row" style="@disabled"> *@
                                                    @*     <iconify-icon icon="ic:twotone-close" class="text-danger-main text-xl"></iconify-icon> *@
                                                    @* </button> *@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">

            <div class="col-8 text-start">
                <button class="btn btnNext" onclick="Expert.Application.Next('divMainInformation','divEvaluationFirst')">التالى</button>
            </div>
            <div class="col-4 text-end">
                <button class="btn btnSave" style="@disabled" onclick="Expert.Application.SaveClose('divMainInformation')">حفظ وإغلاق</button>

            </div>
        </div>
    </div>

</form>

<script src="~/Phone/js/intlTelInputWithUtils.js"></script>
<script>
    const input = document.querySelector("#phone");
    const iti = window.intlTelInput(input, {
        initialCountry: "eg",
        onlyCountries: ['eg', 'qa', 'sa', 'eh', 'ae', 'bh', 'om', 'kw', 'jo', 'sy', 'tn', 'ly', 'ps', 'dz', 'mr', 'lb', 'sd', 'iq', 'ye', 'dj', 'so', 'km'],
    });
    window.iti = iti; // useful for testing
</script>
<script src="~/js/Table.js"></script>
<script src="~/js/Table.SocialMedia.js"></script>